button, div, form, input {
    margin: 5px;
    background: white;
}

img {
	max-width: 200px;
	max-height: 200px;
}

label {
    color: black;
}

.btn-default {
    color: #000;
    font-size: medium;
}

body {
	background-image: url("../images/floor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}
